.projects {
  background-color: #8cacd3;
  font-size: larger;
  color: white;
  width: 100vw;
  padding: 6vmin;
  font-family: "Courier New";
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

.projectsTitle {
  margin-bottom: 5vh;
}

.projects div div button img {
  background-color: #939597;
  opacity: 0.6;
  border-radius: 50%;
}

.projects div div button img:hover {
  opacity: 0.9;
}

.goToProjectBtn {
  padding: 2vh;
  width: 75vmin;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects a:link {
  position: absolute;
  opacity: 0.4;
  z-index: 20;
  width: auto;
  padding: 15vmin;
}

.projects svg {
  height: 48px;
  width: 48px;
  transition: all 0.1s ease-out;
}

.projects a:hover {
  opacity: 1;
}

.projects a:hover svg {
  height: 72px;
  width: 72px;
}

@media only screen and (max-width: 500px) {
  .projects a:link {
    position: relative;
    z-index: 20;
    width: auto;
    padding: 3vmin;
    opacity: 1;
  }
  .projects a:hover svg {
    height: 48px;
    width: 48px;
    fill: #F0F0F0;
  }
}
