.projects {
  background-color: #8cacd3;
  font-size: larger;
  color: white;
  width: 100vw;
  padding: 6vmin;
  font-family: "Courier New";
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

.projectsTitle {
  margin-bottom: 5vh;
}

.projects div div button img {
  background-color: #939597;
  opacity: 0.6;
  border-radius: 50%;
}

.projects div div button img:hover {
  opacity: 0.9;
}

.goToProjectBtn {
  padding: 2vh;
  width: 75vmin;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-weight: 900;
}
