.description {
  background-color: #c2bfb5;
  font-size: larger;
  color: white;
  width: 100vw;
  padding: 6vmin;
  font-family: "Courier New";
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.description div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.text {
  text-align: center;
}

@media only screen and (max-width: 450px) {
  pre {
    font-size: small !important;
  }
}
@media only screen and (min-width: 451px) {
  pre {
    font-size: medium !important;
  }
}