.navbar {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2vh;
  box-sizing: border-box;
  left: 0;
  z-index: 20;
  filter: drop-shadow(0px 0px 1px black);
}

.navbar div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border: none;
  background-color: inherit;
  font-size: large;
  font-family: "Courier New";
  font-weight: bold;
  color: white;
  text-align: left;
  outline: none;
  cursor: pointer;
  padding-left: 0;
}

@media only screen and (max-width: 942px) {
  .navbar {
    height: 20%;
  }
}
