.navbar {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vh;
  box-sizing: border-box;
  left: 0;
  z-index: 20;
}

button {
  border: none;
  background-color: inherit;
  font-size: large;
  font-family: "Courier New";
  font-weight: bold;
  color: white;
  text-align: left;
}

@media only screen and (max-width: 942px) {
  .navbar {
    height: 20%;
  }
}